.delete-icon:hover {
    background-color: red; /* Cambia el color de fondo al pasar el cursor sobre el icono */
    color: white; 
    cursor: pointer; /* Cambia el cursor al estilo de puntero */
  }

.responsive{
  width: 400px;
  height:225;
}

/* Estilos para pantallas más chicas */
@media (max-width: 600px) {
 
  .responsive {
    width: 100%; /* Haz que la imagen ocupe todo el ancho */
  }
  
  
}
